<% if url_options_authenticate?(:controller => 'admin/taxons') %>
 <li <%= ' class="active"' if current == "Volume Pricing" %>>
   <%= link_to("Volume Pricing", volume_prices_admin_product_variant_url(@product, @product.master))  %>
 </li>
<% end %>